:root {
  --favs-item-padding: 10px;
  --favs-item-margin-left: 0;
  --favs-item-margin-right: 0;
  --favs-item-margin-top: 10px;
  --favs-item-margin-bottom: 10px;
  --favs-item-padding: 10px;
  --fade-timeout: 400ms;
}

.favs {
  display: flex;
  width: 100vw;
}

.favs > * {
  flex: 1;
}

.favs ul {
  list-style: none;
}

.favs__item {
  user-select: none;
  padding: 10px;
  margin: 10px 0;
  background-color: #eee;
}

.favs li:hover {
  cursor: pointer;
}

.favs__item {
  transition: background-color 500ms ease;
}

.favs__item--is-fav {
  background-color: orange;
}

.favs__title {
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.fade-enter {
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
}

.fade-enter-active {
  transition:
    max-height var(--fade-timeout) ease,
    opacity var(--fade-timeout) ease,
    padding-top var(--fade-timeout) ease,
    padding-bottom var(--fade-timeout) ease,
    margin var(--fade-timeout) ease;
  opacity: 1;
  max-height: 38px;
  padding: var(--favs-item-padding);
  margin: 10px 0;
}

.fade-exit {
  transition:
    max-height var(--fade-timeout) ease,
    opacity var(--fade-timeout) ease,
    padding-top var(--fade-timeout) ease,
    padding-bottom var(--fade-timeout) ease,
    margin var(--fade-timeout) ease;
  opacity: 1;
  max-height: 38px;
  padding: var(--favs-item-padding);
  margin: 10px 0;
}

.fade-exit-active {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: calc(var(--favs-item-margin-top) * -1);
}
