:root {
  --menu-background-color: Orange;
  --menu-border-radius: 5px;
  --menu-fade-timeout: 350ms;
}

.menu {
  font-family: sans-serif;
  padding: 25px;
  user-select: none;
  position: relative;
}

.menu__toggler {
  background-color: var(--menu-background-color);
  padding: 10px 20px;
  border: none;
  border-radius: var(--menu-border-radius);
  font-size: 18px;
  width: 100px;
}

.menu__toggler:hover {
  filter: brightness(1.05);
  cursor: pointer;
}

.menu__toggler:focus {
  outline: none;
}

.menu__toggler:active {
  filter: brightness(1.1);
}

.menu__list {
  list-style: none;
  margin-top: 10px;
}

.menu__list-item {
  background-color: var(--menu-background-color);
  padding: 10px;
  width: 100px;
  border-radius: var(--menu-border-radius);
  margin: 5px 0;
  text-align: center;
}

.menu__items {
  position: absolute;
  width: 0;
  height: 0;
  transition:
    transform var(--menu-fade-timeout) ease,
    opacity   var(--menu-fade-timeout) ease;
}

.menu__fade-enter {
  transform: scale(0);
  opacity: 0;
}

.menu__fade-enter-active {
  transform: scale(1);
  opacity: 1;
}

.menu__fade-exit {
  transform: scale(1);
  opacity: 1;
}

.menu__fade-exit-active {
  transform: scale(0);
  opacity: 1;
}
