.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.menu__content {
  display: flex;
  align-items: center;
}

.menu__toggler {
  background-color: orange;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.menu__toggler:hover {
  cursor: pointer;
  filter: brightness(1.05);
}

.menu__toggler:active {
  filter: brightness(1.1);
}

.menu__toggler:focus {
  outline: none;
}

.menu__links {
  list-style: none;
  display: flex;
}

.menu__link-link {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
}

.menu__link:hover {
  cursor: pointer;
  filter: brightness(1.05);
}

.menu__link:active {
  filter: brightness(1.1);
}

.menu__link:first-child {
  margin-left: 10px;
}

.menu__link-link {
  text-decoration: none;
  color: inherit;
}

.slide-enter {
  opacity: 0;
  max-width: 0;
}

.slide-enter-active {
  opacity: 1;
  transition: all 500ms ease;
  max-width: 159.39px;
}

.slide-exit {
  opacity: 1;
  transition: all 500ms ease;
  max-width: 159.39px;
}

.slide-exit-active {
  opacity: 0;
  max-width: 0;
}
