*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 0 20px;
  padding-bottom: 20px;
}

.swipe-enter {
  opacity: 0;
  transform: translateX(-50px);
}

.swipe-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease;
}

.swipe-exit {
  display: none !important;
}

.swipe-exit-active {
  display: none !important;
}
